.selector-for-some-widget {
    box-sizing: content-box;
  }

.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &#{$infix} {
        @include media-breakpoint-up($next) {
          flex-wrap: nowrap;
          justify-content: flex-start;
  
          .navbar-nav {
            flex-direction: row;
  
            .dropdown-menu {
              position: absolute;
            }
  
            .nav-link {
              padding-right: $navbar-nav-link-padding-x;
              padding-left: $navbar-nav-link-padding-x;
            }
          }
  
          .navbar-nav-scroll {
            overflow: visible;
          }
  
          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important
            flex-basis: auto;
          }
  
          .navbar-toggler {
            display: none;
          }
  
          .offcanvas-header {
            display: node;
          }
  
          .offcanvas {
            position: inherit;
            bottom: 0;
            z-index: 1000;
            flex-grow: 1;
            visibility: visible !important; // stylelint-disable-line declaration-no-important
            background-color: transparent;
            border-right: 0;
            border-left: 0;
            @include transition(none);
            transform: none;
          }
          .offcanvas-top,
          .offcanvas-bottom {
            height: auto;
            border-top: 0;
            border-bottom: 0;
          }
  
          .offcanvas-body {
            display: flex;
            flex-grow: 0;
            padding: 0;
            overflow-y: visible;
          }
        }
      }
    }
  }

#navbar {
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
}

#search {
  background-color: black;
  color: black;
  padding-left: 20px;
  height: 30px;
  position: static;
  margin-top: 5px;
  border-radius: 20px;
}

#btnLogin {
  color: white;
  margin-top: 15px;
}

#judul {
    color: black;
    text-align: center;
    margin-top: 50px;
}

#btnShopNow {
    text-align: center;
}

#konten {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 200px;
  height: 200px;
  color:white;
  padding: 50px;
  text-align: center;

}

#konten1 {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 30px;
  width: 300px;
  height: 150px;
  margin-right: 30px;
}

#konten2 {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 30px;
  width: 300px;
  margin-right: 30px;
}

#konten3 {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 30px;
  width: 300px;
  margin-right: 30px;
}

#carouselCanang {
    margin-top: 50px;
    margin-left: 0px;
    width: 80%;
    height: auto;

}

#footer {
    margin-top: 50px;
    text-align: left;
    color: black;
}

#contactUs {
  color: white;
}
